{% extends 'landing.html' %}

{% block page_title %}Blank - ENSET Douala{% endblock %}
{% block page_body_id %}blank{% endblock %}
{% block page_copyright %}PIGAL ENSET{% endblock %}
{% block page_author_name %}Malcom Chumchoua Penda{% endblock %}
{% block page_author_site %}#{% endblock %}

{% block page_hero %}
<section class="hero">
    <div class="info w-75">
        <h1>Blank Page</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
            ut aliquip ex ea commodo consequat.
        </p>
    </div>
</section>
{% endblock %}

{% block page_sections %}
<section>    
  <div class="container my-4" data-aos="fade-up"> 
    <h2>Any Section</h2>             
    <p>
        Rem id rerum. Debitis deserunt quidem delectus expedita
        ducimus dolor. Aut iusto ipsa. Eos ipsum nobis ipsa soluta
        itaque perspiciatis fuga ipsum perspiciatis. Eum amet 
        fugiat totam nisi possimus ut delectus dicta.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. 
    </p>
    <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
        ut aliquip ex ea commodo consequat.
    </p>
    <p>
        incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud 
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
</section>

<section>    
  <div class="container" data-aos="fade-up"> 
    <h2>Another Section</h2>        
    <p>
        Deserunt porro magni qui necessitatibus dolorem 
        at animi cupiditate.
    </p>
    <p>
        Aliquam velit deserunt autem. Inventore et saepe. 
        Tenetur suscipit eligendi labore culpa eos.
    </p>
  </div>
</section>
{% endblock %}

{% block page_footer %}
<div class="container footer-top">
  <div class="row gy-4 px-4 px-lg-1">
    <div class="col-lg-6 col-md-12 footer-about">
      <a href="#" class="logo d-flex align-items-center">
        <span class="sitename">ENSET Douala</span>
      </a>
      <div class="footer-contact pt-3">
        <p>A108 Adam Street</p>
        <p>New York, NY 535022</p>
        <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
        <p><strong>Email:</strong> <span>info@example.com</span></p>
      </div>
      <div class="social-links d-flex mt-4">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 footer-links">
        <h4>Hic solutasetp</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i><a href="#">Molestiae accusamus iure</a></li>
          <li><i class="bi bi-chevron-right"></i><a href="#">Excepturi dignissimos</a></li>
          <li><i class="bi bi-chevron-right"></i><a href="#">Suscipit distinctio</a></li>
          <li><i class="bi bi-chevron-right"></i><a href="#">Dilecta</a></li>
          <li><i class="bi bi-chevron-right"></i><a href="#">Sit quas consectetur</a></li>
        </ul>
    </div>

    <div class="col-lg-3 col-md-12 footer-links">
        <h4>Nobis illum</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i><a href="#">Ipsam</a></li>
          <li><i class="bi bi-chevron-right"></i><a href="#">Laudantium dolorum</a></li>
          <li><i class="bi bi-chevron-right"></i><a href="#">Dinera</a></li>
          <li><i class="bi bi-chevron-right"></i><a href="#">Trodelas</a></li>
          <li><i class="bi bi-chevron-right"></i><a href="#">Flexo</a></li>
        </ul>
    </div>

  </div>
</div>
{% endblock %}
