{% extends 'landing.html' %}

{% block page_title %}Organisation - ENSET Douala{% endblock %}
{% block page_body_id %}organisation{% endblock %}

{% block page_hero %}
  {% call hero("25") %}
  <div class="info w-75">
    <h1>Notre Organisation</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{{ url_for('home.index') }}">Home</a></li>
        <li class="current">Organisation</li>
      </ol>
    </nav>
  </div>
  <div class="hero-bg">
    <img src="{{ url_for('organisation.static', filename='img/hero.jpg') }}" alt="">
  </div>
  {% endcall %}
{% endblock %}

{% block page_sections %}
    
 {{ coming_soon_section("Historique", default_deadline(), id="history") }}
 {{ coming_soon_section("Organigramme", default_deadline(), id="units") }}

{% endblock %}