{% extends 'landing-page.html' %}

{% block page_meta %}
  <title>Projet B | ENSET Douala</title>
{% endblock %}

{% block page_hero %}
  {% call hero("25") %}
    <div class="hero-info w-75 d-flex flex-column align-items-center">
      <h1>Exemple de Projets en developpement</h1>
    </div>
    <div class="hero-bg">
      <img src="{{ url_for('project_b.static', filename='img/hero.jpg') }}" alt="">
    </div>
  {% endcall %}
{% endblock %}

{% block page_main %}
  {{ coming_soon_section("Section en cours", default_deadline(), id="section") }}
{% endblock %}