{% extends "landing/layout.jinja" %}
{% set main_title='Accueil' %}
{% set page_id='home' %}

{% block main %}
    <h1>Bienvenue dans cette demo</h1>
    <p>Vous pouvez acceder aux pages suivantes:</p>
    <ul>
        <li><a href="{{ url_for('home.unprotected') }}">page non protege</a></li>
        <li><a href="{{ url_for('home.protected') }}">page reserve (login obligatoire)</a></li>
        <li><a href="{{ url_for('home.student') }}">page reserve aux etudiants</a></li>
    </ul>
    <img sr="{{ url_for('static', filename='favicon.png')}}" alt="test logo">
    <br>
    <p>Voici les menus disponibles (mise en forme grace a une macro <b>menu</b> du theme2)</p>
    <p>{{ theme2.menu(menus['home_menu']) }}</p>
    <br>
    <span>
        <a href="{{ url_for('home.login') }}">Se connecter</a>
        <a href="{{ url_for('home.logout') }}">Se deconnecter</a>
    </span>
{% endblock %}