{% extends 'dashboard/layout.jinja' %}

{% block page_meta %}
    {% if current_user.is_authenticated %}
        <title>{{ current_user.id +  _('| ENSET Douala') }}</title>
    {% else %}
        <title>{{ _('Unknown | ENSET Douala') }}</title>
    {% endif %}
{% endblock %}

{% block page_main %}
  <div class="container">
    <div class="row ms-3 mt-0 my-2 pt-0 pb-1 pb-lg-3">
      <div class="d-flex flex-column align-items-start align-items-lg-center">
        <h3>{{ _("Demo Graphique avec Chart.js") }}</h3>
        <p>{{ _('Chart.JS Examples. You can check the <a href="https://www.chartjs.org/docs/latest/samples/" target="_blank">official website</a> for more examples.') }}</p>
      </div>
    </div>

    <section class="section row g-4">

          <!-- Line Chart -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Line Chart</h5>
                <canvas id="lineChart" style="max-height: 400px;"></canvas>
              </div>
            </div>
          </div><!-- End Line CHart -->
  
          <!-- Bar Chart -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Bar CHart</h5>                
                <canvas id="barChart" style="max-height: 400px;"></canvas>
              </div>
            </div>
          </div><!-- End Bar CHart -->

          <!-- Pie Chart -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pie Chart</h5>
                <canvas id="pieChart" style="max-height: 400px;"></canvas>
              </div>
            </div>
          </div><!-- End Pie CHart -->
  
          <!-- Doughnut Chart -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Doughnut Chart</h5>
                <canvas id="doughnutChart" style="max-height: 400px;"></canvas>  
              </div>
            </div>
          </div><!-- End Doughnut CHart -->
  
          <!-- Radar Chart -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Radar Chart</h5>
                <canvas id="radarChart" style="max-height: 400px;"></canvas>
              </div>
            </div>
          </div><!-- End Radar CHart -->
  
          <!-- Polar Area Chart -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Polar Area Chart</h5>
                <canvas id="polarAreaChart" style="max-height: 400px;"></canvas>
              </div>
            </div>
          </div><!-- End Polar Area Chart -->
          
          <!-- Stacked Bar Chart -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Stacked Bar Chart</h5>
                <canvas id="stakedBarChart" style="max-height: 400px;"></canvas>
              </div>
            </div>
          </div><!-- End Stacked Bar Chart -->
  
          <!-- Bubble Chart -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Bubble Chart</h5>
                <canvas id="bubbleChart" style="max-height: 400px;"></canvas>
              </div>
            </div>
          </div><!-- End Bubble Chart -->
  
    </section>
  </div>
{% endblock %}

{% block custom_js %}
  <script src="{{ url_for('demo.static', filename='js/demo-charts.js') }}"></script>
{% endblock %}