<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block page_meta %}
    <title>ENSET Douala</title>
    {% endblock %}

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='dashboard/assets/img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='dashboard/assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Fonts -->
    <!-- <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='dashboard/assets/css/fonts.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">
    {% block vendor_css %}{% endblock %}

    <!-- Template CSS File -->
    <link href="{{ url_for('static', filename='dashboard/assets/css/color.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/css/preloader.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/assets/css/dashboard.css') }}" rel="stylesheet">
    {% block custom_css %}{% endblock %}

</head>

<!-- Layout variables -->
{% set page_id = page_id | default('') %}
{% set menu_name = menu_name | default('navbar') %}
{% set hero_size = hero_size | default('xs') %}

<!-- Jinja macros -->
{% import "dashboard/macros.jinja" as dashboard %}


<body>

    <!-- Preloader -->
    <div id="preloader"></div>
    <script src="{{ url_for('static', filename='dashboard/assets/js/preloader.js') }}"></script>
    <!-- End preloader -->

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">

        <!-- Header logo -->
        {{ dashboard.brand() }}
        
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto d-flex me-4">
        <ul class="flex-grow-1 align-items-center">
            <li class="d-flex ms-auto special-links justify-content-center">
            {% if current_user and current_user.is_authenticated %}
                <a class="btn btn-light ps-1 pe-3 py-2 d-none d-lg-inline" href="#">
                    <i class="bi bi-person-fill me-1 fs-6"></i>
                    <span>{{ current_user.id }}</span>
                </a>
                <a class="btn btn-primary d-none d-lg-inline" href="{{ url_for('home.logout', next=request.path) }}">{{ _('Deconnexion') }}</a>
            {% else %}        
                <a class="btn btn-danger d-none d-lg-inline" href="{{ url_for('home.login', next=request.path) }}">{{ _('Connexion') }}</a>
            {% endif %}
            </li>
        </ul>
        <i class="bi bi-list toggle-sidebar-btn mx-4 d-lg-none d-inline"></i>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    {{ dashboard.sidebar(menus['sidebar'], current_user, active=page_id) }}
    
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
    {% block dashboard_header %}
      <h1>Blank dashboard</h1>
    {% endblock %}
    </div><!-- End Page Title -->


    <section class="section dashboard">
    {% block dashboard_content %}{% endblock %}
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->


    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
    
    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/apexcharts/apexcharts.min.js') }}"></script>     
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/chart.js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/echarts/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/quill/quill.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/tinymce/tinymce.min.js') }}"></script>

    <script src="{{ url_for('static', filename='dashboard/assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    {% block vendor_js %}{% endblock %}
    
    <!-- Main JS File -->
    <script src="{{ url_for('static', filename='dashboard/assets/js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/js/coming-soon.js') }}"></script>
    {% block custom_js %}{% endblock %}

</body>
</html>