<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block _base_meta %}
    <title>ENSET Douala</title>
    {% endblock %}

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Fonts -->
    <!-- <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    {% block vendor_css %}{% endblock %}

    <!-- Template CSS File -->
    <link href="{{ url_for('static', filename='css/color.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/preloader.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/landing.css') }}" rel="stylesheet">
    {% block custom_css %}{% endblock %}

</head>
<body id="{{ _base_body_id }}" class="{{ _base_body_class }}">

    <!-- Jinja macros -->
    {% from "base-macros.html" import nav_menu, nav_brand %}
    {% from "landing-macros.html" import coming_soon_section, section_title %}
    {% from "landing-macros.html" import hero, hero_carousel %}
    {% from "landing-macros.html" import full_contact_footer, light_contact_footer %}

    <!-- Preloader -->
    <div id="preloader"></div>
    <script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
    <!-- End preloader -->

    <!-- Header  -->
    <header id="header" class="header fixed-top">
      <div class="container-fluid d-flex align-items-center">
      {% block _base_header %}

        <!-- Header logo -->
        {{ nav_brand() }}

        <!-- Header menu -->
        <nav class="nav-menu ms-auto d-flex justify-content-end align-items-center">
          {{ nav_menu(landing_entries, started_url=url_for('login'), active=active_entry) }}
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav><!-- End Header menu -->
    
      {% endblock %}
      </div>
    </header><!-- End Header -->

    <!-- Hero  -->
    {% block _base_hero %}
    <p class="hero">Demo Hero</p>
    {% endblock %}

    <!-- Main  -->
    <main id="main" class="main">
        {% block _base_main %}
        <p class="w-100 text-center py-5 my-5">Demo Main</p>
        {% endblock %}
    </main>
    
    <!-- Footer  -->
    <footer id="footer" class="footer dark-background">

        <!-- Footer Contents -->
        {% block _base_footer %} 
        <p class="w-100 text-center py-5">Demo Footer </p>
        {% endblock %}
        
        <!-- Footer Copyright -->
        <div class="container copyright text-center mt-4">
            <p>© 
                <span>Copyright</span> 
                <strong class="px-1 sitename">CINFO ENSET</strong> 
                <span>All Rights Reserved</span>
            </p>
            <div class="credits">
                <span>Designed by </span>
                {% block _base_authors %}
                <a href="">Demo Author 1, </a>
                <a href="">Demo Author 2</a>
                {% endblock %}
            </div>
        </div><!-- End Footer copyright -->

    </footer><!-- ENd Footer -->

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    {% block vendor_js %}{% endblock %}
    
    <!-- Main JS File -->
    <script src="{{ url_for('static', filename='js/landing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/coming-soon.js') }}"></script>
    {% block custom_js %}{% endblock %}

</body>
</html>