{% extends 'landing-page.html' %}


{% block page_body_id %}listing{% endblock %}
{% block page_title %} 
    Recherche {% block listing_topic %}{% endblock %} - ENSET Douala 
{% endblock %}

{% block page_css %}{% block listing_css %}{% endblock %}{% endblock %}
{% block page_js %}{% block listing_js %}{% endblock %}{% endblock %}

{% block page_hero %}
<!-- Hero Section -->
<section class="hero section">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-start">
                {% block listing_header %}{% endblock %}
            </div>
            <div class="col-12 col-lg-8 mt-4">
                {% block listing_search_form %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block page_sections %}
<!-- Domaines de Recherche -->
<section class="results section">
  <div class="container">
    <div class="row">
        <div class="col-12 px-0">
            {% block listing_results %}{% endblock %}
        </div>
    </div>
  </div>  
</section><!-- End Domaines de recherche -->
{% endblock %}