
{% macro coming_soon_section(title, deadline, id="") %}
<section id="{{ id }}" class="coming-soon section">
    {{ section_title(title, subtitle = title + " <strong>(En construction)</strong>")}}    
    <div class="container coming-soon-content">
        <div class="row gy-1">
            <div class="col-12">
                Cette section est en cours de maintenance ou de developpement. 
                Elle sera disponible dans:
            </div>
            <div class="col-12 countdown" data-count="{{ deadline }}">
                <i class="me-2 bi bi-clock"></i>
                <span><em class="count-days">0</em> jours,</span> 
                <span><em class="count-hours">0</em> heures,</span>
                <span><em class="count-minutes">0</em> minutes et</span>
                <span><em class="count-seconds">0</em> secondes.</span>
            </div>
        </div>
    </div>
  </section>
{% endmacro %}


{% macro section_title(title, subtitle="") %}
<div class="container section-title">
    <h2>{{ title }}</h2>
    {% if subtitle|length > 0 %}
      <div class="sub-title">
        {{ subtitle | safe }}
      </div>
    {% endif %}
</div>
{% endmacro %}

{% macro hero(size) %}
<section id="hero" class="hero hero-{{ size }} pt-0 pb-5">
    {{ caller() }}
</section>
{% endmacro %}

{% macro hero_carousel(size, interval="2000") %}
<section id="hero" class="hero hero-{{ size }} pt-0 pb-5">  
    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="{{ interval }}">

        {{ caller() }}

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
        <ol class="carousel-indicators"></ol>
    </div>
</section>
{% endmacro %}

{% macro full_contact_footer(contact, links) %}
<div id="contact" class="container footer-top">
  <div class="row gy-4 px-4 px-md-1">
    <div class="col-md-6 col-12 footer-about">
      <a href="#" class="logo d-flex align-items-center">
        <span class="sitename">ENSET Douala</span>
      </a>
      <div class="footer-contact mt-1">
        <p>{{ contact.addresse }}</p>
        <p>{{ contact.ville }}</p>
        <p class="mt-3"><strong>Tel:</strong> <span>{{ contact.tel }}</span></p>
        <p><strong>Email:</strong> <span>{{ contact.email }}</span></p>
      </div>
      <div class="social-links d-flex mt-4">
        <a href="{{ contact.twitter }}"><i class="bi bi-twitter-x"></i></a>
        <a href="{{ contact.facebook }}"><i class="bi bi-facebook"></i></a>
        <a href="{{ contact.instagram }}"><i class="bi bi-instagram"></i></a>
        <a href="{{ contact.linkedin }}"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>

    <div class="col-md-6 col-12">
      <div class="row">
        {% for parent in links %}
        <div class="col-lg-6 col-md-12 footer-links">
            <h4 class="pt-4 pt-md-0">{{ parent.group }}</h4>
            <ul>
            {% for child in parent.links %}
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="{{ child.url }}">{{ child.nom }}</a>
              </li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>    
</div>
{% endmacro %}

{% macro light_contact_footer(contact) %}
<div id="contact" class="container footer-top">
    <div class="row gy-4 px-4 px-lg-1">
        <div class="col-lg-4 col-md-6 col-12 footer-about">
            <div class="footer-contact">
                <p><h6>ENSET Douala</h6></p>
                <p>{{ contact.addresse }}</p>
                <p>{{ contact.ville }}</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 footer-about d-flex justify-content-start justify-content-lg-center justify-content-md-end">
            <div class="footer-contact">
                <p><h6>Contact </h6></p>
                <p><strong>Tel:</strong> <span>{{ contact.tel }}</span></p>
                <p><strong>Email:</strong> <span>{{ contact.email }}</span></p>
            </div>
        </div>
        <div class="col-lg-4 col-12 footer-about d-flex justify-content-start justify-content-lg-end align-items-center">
            <div class="social-links d-flex">
            <a href="{{ contact.twitter }}"><i class="bi bi-twitter-x"></i></a>
            <a href="{{ contact.facebook }}"><i class="bi bi-facebook"></i></a>
            <a href="{{ contact.instagram }}"><i class="bi bi-instagram"></i></a>
            <a href="{{ contact.linkedin }}"><i class="bi bi-linkedin"></i></a>
            </div>        
        </div>
    </div>
</div>
{% endmacro %}
