
{% extends 'landing-base.html' %}

{% block body_class %} body-page {% endblock %}
{% block footer_class %} dark-background {% endblock %}


{% block base_hero %} 
  {% block page_hero %}
  <p>Page Hero</p>
  {% endblock %}
{% endblock %}

{% block base_main %}
  {% block page_main %}
   <div class="py-4 my-2">
      {{ coming_soon_section("Section", default_deadline()) }}
   </div>
  {% endblock %}
{% endblock %}

{% block base_footer %}
   {{ full_contact_footer(contact, links) }}
{% endblock %}

{% block base_authors %}
  {% block page_authors %}
  <a>Malcom Chumchoua Penda</a>
  {% endblock %}
{% endblock %}
