
{% extends 'login-base.html' %}

{% block login_form %}
    <form class="login-form container d-flex flex-column align-items-center" 
        method="post" action="{{ url_for('login_portal', id='teacher') }}" 
        enctype="multipart/form-data">
        
        <!-- Header -->
        <div class="row w-100 d-flex justify-content-center">
            <div class="col-10 text-center">
                <h4 class="py-5">Portail Enseignants</h4>
            </div>
        </div>
        
        <!-- Identifiant -->
        <div class="field row my-2 w-100 d-flex justify-content-center">
            <div class="col-10 col-lg-4">
                <input type="text" class="form-control is-required" 
                    id="userId" name="userId"
                    placeholder="Saisissez votre identifiant" 
                    oninput="this.className = 'form-control is-required'">
                <div class="invalid-feedback">Champ obligatoire</div>            
            </div>
        </div><!-- End Identifiant -->

        <!-- Securite -->
        <div class="field row my-2 w-100 d-flex justify-content-center">
            <div class="col-10 col-lg-4">
                <input type="password" class="form-control is-required" 
                    id="userPwd" name="userPwd"
                    placeholder="Saisissez votre mot de passe" 
                    oninput="this.className = 'form-control is-required'">
                <div class="invalid-feedback">Champ obligatoire</div>            
            </div>
        </div><!-- End Securite -->

        <div class="row pt-5 w-100 d-flex justify-content-center">
            <div class="col-10 col-lg-4 flex-column align-items-start">
                <input class="btn btn-primary w-100" type="submit" value="Connexion">
                <a class="btn btn-link my-4" href="{{ url_for('login_recovering', id='teacher') }}">
                    Identifiant ou mot de passe oublié ?
                </a>
            </div>
        </div>

    </form>
{% endblock %}

{% block login_authors %}
    <a>Malcom Chumchoua Penda</a>
{% endblock %}