
{% extends 'login-base.html' %}

{% block login_form %}
    <form class="login-form container d-flex flex-column align-items-center" 
        method="post" action="{{ url_for('login_recovering', id='teacher') }}" 
        enctype="multipart/form-data">
        
        
        <!-- Header -->
        <div class="row w-100 d-flex justify-content-center">
            <div class="col-10 text-center">
                <h5 class="py-5">Recuperation Compte Enseignant</h5>
            </div>
        </div>
        
        <!-- Identifiant -->
        <div class="field row my-2 w-100 d-flex justify-content-center">
            <div class="col-10 col-lg-4">
                <p class="pt-0 pb-3 login-help">
                    Saisissez votre email, cliquez sur continuer 
                    et nous vous enverrons par mail votre identifiant 
                    et votre mot de passe
                </p>
                <input type="email" class="form-control is-required" 
                    id="userId" name="userId" placeholder="email" 
                    oninput="this.className = 'form-control is-required'">
                <div class="invalid-feedback">Champ obligatoire</div>            
            </div>
        </div><!-- End Identifiant -->

        <div class="row pt-2 w-100 d-flex justify-content-center">
            <div class="col-10 col-lg-4 flex-column align-items-start">
                <input class="btn btn-primary w-100" type="submit" value="Continuer">
            </div>
        </div>

    </form>
{% endblock %}

{% block login_authors %}
    <a>Malcom Chumchoua Penda</a>
{% endblock %}