{% extends 'landing.html' %}

{% block page_title %}ENSET Douala{% endblock %}
{% block page_body_id %}home{% endblock %}

{% block page_hero %}
  {% call hero_carousel("large", interval="3000") %}
    {% for hero in heros %}

      <div class="carousel-item {%if loop.first %} active {% endif %}">
        <img src="{{ url_for('home.static', filename=hero.img) }}" alt="">
        <div class="carousel-container">
          {{ hero.msg | safe }}
        </div>
      </div><!-- End Carousel Item -->

    {% endfor %}
  {% endcall %}
{% endblock %}
