{% extends 'landing.html' %}

{% block page_title %}ENSET Douala{% endblock %}
{% block page_body_id %}home{% endblock %}

{% block page_hero %}
  {% call hero_carousel("large", interval="3000") %}
    {% for hero in heros %}

      <div class="carousel-item {%if loop.first %} active {% endif %}">
        <img src="{{ url_for('home.static', filename=hero.img) }}" alt="">
        <div class="carousel-container">
          {{ hero.msg | safe }}
        </div>
      </div><!-- End Carousel Item -->

    {% endfor %}
  {% endcall %}
{% endblock %}

{% block page_sections %}
    
 {{ coming_soon_section("Mot du Directeur", default_deadline(), id="welcome") }}
 {{ coming_soon_section("A propos", default_deadline(), id="about") }}
 {{ coming_soon_section("Stats", default_deadline(), id="stats") }}
 {{ coming_soon_section("Actions", default_deadline(), id="features") }}
 {{ coming_soon_section("Nos actualites", default_deadline(), id="events") }}

{% endblock %}