{% extends 'landing.html' %}

{% block page_title %}Speechs - ENSET Douala{% endblock %}
{% block page_body_id %}speechs{% endblock %}

{% block page_hero %}
<section id="hero" class="hero hero-small">
    <div class="info w-75">
      <h1>Speechs Demo</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{{ url_for('demo.index') }}">Home</a></li>
          <li class="current">Speechs</li>
        </ol>
      </nav>
  </div>
</section>
{% endblock %}

{% block page_sections %}
<!-- Speechs Section -->
<section class="speechs section mt-4">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Speech</h2>
        <div>
            <span>This is a simple</span> 
            <span class="description-title">Speech</span>
        </div>
    </div><!-- End Section Title -->
  
    <div class="container">
        <div class="row gy-4 speech-item">
            <!-- Speech Author -->
            <div class="col-lg-3 speech-author" data-aos="fade-up" data-aos-delay="100">
                <img src="{{ url_for('demo.static', filename=items.main.image)}}" alt="">
                <h3>{{ items.main.name }}</h3>
                <h4>{{ items.main.role }}</h4>
            </div> <!-- End Speech Author -->

            <!-- Speech Content -->
            <div class="col-lg-6 speech-content" data-aos="fade-up" data-aos-delay="200">
                {{ items.main.text | safe }}
            </div> <!-- End Speech Content -->
        </div>
  
    </div>
  
</section><!-- End Speechs Section -->

<!-- Testimonials Section -->
<section class="testimonials section mt-4 light-background">  

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Testimonials</h2>
      <div><span>Check Our</span> <span class="description-title">Testimonials</span></div>
    </div><!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
      {% for item in items.testimonials %}
        <!-- Testimonial item -->
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="testimonial-item">
            <div class="testimonial-author d-flex align-items-start">
                <img src="{{ url_for('demo.static', filename=item.image)}}" alt="">
                <div class="d-flex flex-column justify-content-start mx-2">
                    <h3>{{ item.name }}</h3>
                    <h4>{{ item.role }}</h4>
                </div>                
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span>{{ item.text }}</span>
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->
      {% endfor %}
      </div>
    </div>

</section><!-- End Testimonials Section -->

<!-- Testimonials Section -->
<section class="testimonials section mt-4">  
    <div class="container">
      <div class="row gy-4">
      {% for item in items.testimonials %}
        <!-- Testimonial item -->
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="testimonial-item">
            <div class="testimonial-author d-flex align-items-start">
                <img src="{{ url_for('demo.static', filename=item.image)}}" alt="">
                <div class="d-flex flex-column justify-content-start mx-2">
                    <h3>{{ item.name }}</h3>
                    <h4>{{ item.role }}</h4>
                </div>                
            </div>
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span>{{ item.text }}</span>
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->
      {% endfor %}
      </div>
    </div>
</section><!-- End Testimonials Section -->

<!-- Testimonials Swipered Section -->
<section class="testimonials section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->
  
    <div class="container" data-aos="fade-up" data-aos-delay="100">  
        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 1,
                    "spaceBetween": 40
                  },
                  "1200": {
                    "slidesPerView": 2,
                    "spaceBetween": 20
                  }
                }
              }
            </script>
            <div class="swiper-wrapper">
            {% for item in items.testimonials %}
              <!-- Testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item d-flex flex-lg-row flex-column align-items-start">
                    <div class="me-3">
                        <img src="{{ url_for('demo.static', filename=item.image)}}" alt="">
                    </div>
                    <div>
                        <h3>{{ item.name }}</h3>
                        <h4>{{ item.role }}</h4>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          <span>{{ item.text }}</span>
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                  </div>
                </div>
              </div><!-- End testimonial item -->
            {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
  
</section><!-- /Testimonials Swipered Section -->

<!-- Testimonials Swipered Section -->
<section class="testimonials section">  
    <div class="container" data-aos="fade-up" data-aos-delay="100">  
        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 1,
                    "spaceBetween": 40
                  },
                  "1200": {
                    "slidesPerView": 2,
                    "spaceBetween": 20
                  }
                }
              }
            </script>
            <div class="swiper-wrapper">
            {% for item in items.testimonials | reverse %}
              <!-- Testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item d-flex flex-lg-row flex-column align-items-start">
                    <div class="me-3">
                        <img src="{{ url_for('demo.static', filename=item.image)}}" alt="">
                    </div>
                    <div>
                        <h3>{{ item.name }}</h3>
                        <h4>{{ item.role }}</h4>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          <span>{{ item.text }}</span>
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                  </div>
                </div>
              </div><!-- End testimonial item -->
            {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section><!-- /Testimonials Swipered Section -->
{% endblock %}

  
{% block page_copyright %}PIGAL ENSET{% endblock %}

{% block page_author_name %}Malcom Chumchoua Penda{% endblock %}