{% extends 'landing-page.html' %}

{% block page_title %}Recherche - ENSET Douala{% endblock %}
{% block page_body_id %}research{% endblock %}

{% block page_hero %}
  {% call hero("25") %}
  <div class="info">
    {{ hero_msg | safe }}
  </div>
  <div class="hero-bg">
      <img src="{{ url_for('research.static', filename='img/hero.jpg') }}" alt="">
  </div>
  {% endcall %}
{% endblock %}

{% block page_sections %}

 {{ coming_soon_section("Introduction", default_deadline(), id="goal") }}
 {{ coming_soon_section("Nos Laboratoires", default_deadline(), id="labs") }}
 {{ coming_soon_section("Nos Realisations", default_deadline(), id="outcomes") }}

{% endblock %}