
/*--------------------------------------------------------------
# news section
--------------------------------------------------------------*/
.news img {
    border-radius: 6px;
    overflow: hidden;
}
  
  
.news .news-title {
    color: color-mix(in srgb, var(--heading-color), transparent 20%);
    /* font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight); */
    padding: 0;
    margin: 10px 0;
}

.news .news-title a {
  font-size: inherit;
  font-weight: inherit;
  background: none;
  margin: 0;
  color: var(--default-color);
}

.news .news-title a:hover{
    background: none;
    color: var(--accent-color);
}

.news .news-category,
.news .news-date {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}



.news .card p {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    font-size: var(--default-font-size);
    margin: 0;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .news .card-link {
    font-size: var(--default-font-size);
    padding-top: 12px;
  }
  
  .news .card-footer {
    border: none;
    background-color: transparent;
  }