{% extends 'demo-blank.html' %}

{% block page_title %}Normal Hero - ENSET Douala{% endblock %}
{% block page_body_id %}hero{% endblock %}

{% block page_hero %}
<section id="hero" class="hero dark-background">
    <div class="info w-75">
        <h1>Normal Hero Demo</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
            ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="hero-bg">
        <img src="{{ url_for('demo.static', filename='img/hero-bg-1.jpg') }}" alt="">
    </div>
</section>
{% endblock %}