
<!-- IMPORTANT: link id must be <pageid>-link or <blockid>-link -->


{% macro menu_item(entry) %}
  {% if entry.children|length == 0 %}
    <li class="">
      <a id="{{ entry.uid }}-link"
        {% if entry.endpoint %} 
            href="{{ url_for(entry.endpoint, **entry.kwargs) }}" 
        {% endif %}>{{ entry.text }}
      </a>
    </li>
  {% else %}      
    {{ menu_dropdown(entry) }}
  {% endif %}
{% endmacro %}

{% macro menu_dropdown(entry) %}    
<li class="dropdown">
  <a href="#">
    <span>{{ entry.text }}</span> 
    <i class="bi bi-chevron-down toggle-dropdown"></i>
  </a>
  <ul>
    {% for child in entry.children %}
      {{ menu_item(child) }}
    {% endfor %}
  </ul>
</li>
{% endmacro %}

<ul>
    {% for entry in landing %}
      {{ menu_item(entry) }}
    {% endfor %}
    <li><a class="btn btn-get-started" href="#">Get Started</a></li>
</ul>

