{% extends 'landing-page.html' %}

{% block meta_title %}Actualites - ENSET Douala{% endblock %}
{% block body_id %}events{% endblock %}

{% block page_hero %}
  {% call hero("25") %}
  <div class="hero-info w-75 d-flex flex-column justify-content-center align-items-center">
    <h1>Nos Actualites</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Actualites</li>
      </ol>
    </nav>
  </div> 
  <div class="hero-bg">
      <img src="{{ url_for('events.static', filename='img/hero.jpg') }}" alt="">
  </div>
  {% endcall %}
{% endblock %}
