
{% extends 'landing-details.html' %}

{% block details_meta %}
  <title>{{ event.category }} | ENSET Douala</title>
{% endblock %}

{% block custom_css %} 
  <link href="{{ url_for('events.static', filename='css/events.css') }}" rel="stylesheet">
{% endblock %}

{% block details_main %}
  <div class="events d-flex flex-column justify-content-center align-items-start ms-5 ps-5">
      <div class="ms-3 mt-2 mb-4 pt-0 w-75">
          <h4 class="events-category">Details Actualites </h4>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-4">
              <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}">Accueil</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('events.index') }}">Actualites</a></li>
              <li class="breadcrumb-item active" aria-current="page">Details</li>
            </ol>
          </nav>
      </div>
      <div class="ms-3 me-2 g-4 pb-4 w-75">
          <img src="{{ event.image }}" alt="" class="img-fluid w-100">
          <h4 class="events-title mt-4 ms-1 ps-0">{{ event.title }}</h4>
          <span class="events-date ms-1 ps-0"><i class="bi bi-clock me-2"></i>{{ event.date }}</span>
          <div class="details-info ms-1 ps-0">
              {{ event.text | safe }}
          </div>
      </div>
  </div>
{% endblock %}

