{% extends 'landing-listing.html' %}
{% set active_entry = 'courses' %}


{% block listing_meta %}
  <title>Recherche Formation | ENSET Douala</title>
{% endblock %}

{% block custom_css %} 
  <link href="{{ url_for('courses.static', filename='css/courses.css') }}" rel="stylesheet">
{% endblock %}

{% block listing_hero %}
  <div class="container">
      <div class="row">
          <div class="col-12 d-flex flex-column align-items-start">
            <h1>{{ header.title }}</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('courses.index') }}">Formations</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ header.link }}</li>
              </ol>
            </nav>
          </div>
          <div class="col-12 col-lg-8 mt-4">
            <form>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Rechercher une formation" aria-label="Search filter" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>                                          
            </form>
          </div>
      </div>
  </div>
{% endblock %}

{% block listing_main %}
  <section class="section results">
    <div class="container">
      <div class="row">
          <div class="col-12 px-0">
            {{ pagination.info }}
            <ul class="list-group w-100 pt-4 courses">
              {% for item in courses %}
                <li class="list-group-item course-item">
                  <h4 class="d-flex flex-lg-row flex-column">
                    {{ item.level.name }} - {{ item.option.name }} ({{ item.option_id }})
                  </h4>
                  <div class="text-secondary pb-1">
                    {% if item.formation_id == 'CPS' %} 
                      <span>Cours du soir</span>, 
                    {% else %} 
                      <span>Cours du jour</span>,
                    {% endif %}
                    {% if item.open %}
                      <span>Inscription ouverte</span>, 
                    {% else %} 
                      <span class="text-danger">Inscription clôturée</span>, 
                    {% endif %}
                    <span class="text-nowrap">Annee academique {{ item.annee }}</span>
                  </div>
                  {{ item.text | safe_md }}
                  <div class="d-flex justify-content-start gx-4 pt-0">
                    <a class="btn btn-link ms-0" href="{{ url_for('courses.details',key=item.id, prev_url=request.path, prev=header.link) }}">Voir plus</a>
                    {% if item.open %}
                      <a class="btn btn-link" href="{{ url_for('admission.index') }}">S'inscrire</a>
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
            <div class="d-flex justify-content-center">
              {{ pagination.links }}
            </div>
          </div>
      </div>
    </div>  
  </section>
{% endblock %}

{% block listing_authors %}
  <a>Malcom Chumchoua Penda</a>
{% endblock %}