{% extends 'landing.html' %}

{% block page_title %}Formations - ENSET Douala{% endblock %}
{% block page_body_id %}courses{% endblock %}

{% block page_hero %}
<section id="hero" class="hero hero-50">
    <div class="info w-75">
      <h4> {{ header.title }} </h4>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{{ url_for('home.index') }}">Home</a></li>
          <li><a href="{{ url_for('courses.index') }}">Formations</a></li>
          <li class="current"> {{ header.link }} </li>
        </ol>
      </nav>
  </div>
  <div class="hero-bg">
    <img src="{{ url_for('courses.static', filename=header.image) }}" alt="">
  </div>
</section>
{% endblock %}

{% block page_sections %}
 {% for diploma in diplomas %}
    {% if diploma.courses|length > 0 %}
    <section class="services services-numbered section">
        <div class="d-flex">
            {{ section_title(diploma.abbr)}}
            <button class="btn btn-primary me-auto">Rechercher</button>
        </div>
        <div class="container">
            <div class="card-group">
                <div class="row no-gutters">
                {% for course in diploma.courses %}
                    <div class="col-lg-6 col-md-6 card" data-aos="fade-up" data-aos-delay="100">
                        <div class="card-header pb-0">{{ course.option_id }}</div>
                        <div class="card-body">
                            <h4 class="card-title mt-1 mb-3">{{ course.nom }}</h4>
                            <p class="card-text">{{ course }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                        <a href="#" class="btn btn-secondary">Details</a>
                        <a href="#" class="btn btn-primary">Inscription</a>
                        </div>
                    </div><!-- End Card Item -->
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
 {% endfor %}
{% endblock %}

{% block page_copyright %}PIGAL ENSET{% endblock %}

{% block page_author_name %}Malcom Chumchoua Penda{% endblock %}