{% extends 'landing.html' %}

{% block page_title %}Formations - ENSET Douala{% endblock %}
{% block page_body_id %}courses{% endblock %}

{% block page_hero %}
<section id="hero" class="hero hero-25">
    <div class="info w-75">
      <h1>Nos Formations</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{{ url_for('home.index') }}">Home</a></li>
          <li class="current">Formations</li>
        </ol>
      </nav>
  </div>
  <div class="hero-bg">
      <img src="{{ url_for('courses.static', filename='img/hero-bg.jpg') }}" alt="">
  </div>
</section>
{% endblock %}

{% block page_sections %}

<!-- Type Formation Section -->
<section id="about" class="about section light-background pt-5">
  {{ section_title("Types", before="Nos", emphasis="Types de formation")}}
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    {% for item in formations %}
      {% if loop.index0 % 2 == 0 %}        
        <div class="row gy-4 mb-3">
          <div class="col-lg-6 position-relative d-flex align-items-center order-lg-2" data-aos="fade-up" data-aos-delay="200">
            <img src="{{ url_for('courses.static', filename=item.image)}}" class="img-fluid flex-shrink-0" alt="">
          </div>
          <div class="col-lg-6 content order-lg-1 pt-1" data-aos="fade-up" data-aos-delay="100">
            {{ item.text | safe }}
          </div>
        </div>
      {% else %}  
        <div class="row gy-4 mb-3">
          <div class="col-lg-6 position-relative d-flex align-items-center order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <img src="{{ url_for('courses.static', filename=item.image)}}" class="img-fluid flex-shrink-0" alt="">
          </div>
          <div class="col-lg-6 content order-lg-2 pt-1" data-aos="fade-up" data-aos-delay="100">
            {{ item.text | safe }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section><!-- End Type Formation Section -->

<!-- Domaines technniques -->
<section id="departments" class="services services-imaged section pt-5">
  {{ section_title("Domaines", before="Nos", emphasis="Domaines de formation") }}

  <div class="container">
      <div class="card-group">
          <div class="row gy-4">
          {% for item in departments %}  
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="card service-item position-relative">
                  <img src="{{ url_for('courses.static', filename=item.image)}}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h4 class="card-title">{{ item.nom }} ({{item.id }})</h4>
                      <p class="card-text">{{ item.text | safe }}</p>
                      <div class="d-flex justify-content-start">
                        <a href="{{ url_for('courses.details', key=item.key)}}" class="card-link">
                          Liste des formations en {{item.id }}
                          <i class="bi bi-arrow-right"></i>
                        </a>
                      </div>
                  </div>
                </div>
              </div><!-- End Service Item -->
          {% endfor %}
          </div>
      </div>
  </div>  
</section><!-- End Domaines techniques -->

<!-- Domaines de Recherche -->
<section id="labs" class="services services-numbered section light-background">
  {{ section_title("Recherche", before="Nos", emphasis="Domaines de Recherche") }}
  <div class="container">
      <div class="row no-gutters">
      {% for item in labs %}
          <div class="col-lg-6 col-md-6 card pt-2" data-aos="fade-up" data-aos-delay="100">
              <div class="card-header">{{ item.id }}</div>
              <div class="card-body">
                  <h4 class="card-title mt-2">{{ item.nom }}</h4>
                  <p class="card-text">{{ item.text | safe }}</p>
                  <div class="d-flex justify-content-start">
                    <a href="#" class="card-link">
                      Liste des Masters du Laboratoire {{ item.id }} 
                      <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>
              </div>
          </div><!-- End Card Item -->
      {% endfor %}
      </div>
  </div>  
</section><!-- End Domaines de recherche -->

{% endblock %}

{% block page_copyright %}PIGAL ENSET{% endblock %}

{% block page_author_name %}Malcom Chumchoua Penda{% endblock %}