{% extends 'landing-page.html' %}
{% set active_entry = 'courses' %}

{% block page_meta %}
  <title>Formations | ENSET Douala</title>
{% endblock %}

{% block page_hero %}
  {% call hero("25") %}
    <div class="hero-info d-flex flex-column justify-content-center align-items-center">
      <h2>Nos Offres de formation</h2>
      <nav aria-label="breadcrumb mt-1">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Formations</li>
        </ol>
      </nav>
    </div>
    <div class="hero-bg">
      <img src="{{ url_for('courses.static', filename='img/hero.jpg') }}" alt="">
    </div>
  {% endcall %}
{% endblock %}

{% block page_main %}
  <!-- Type Formation Section -->
  <section id="about" class="section about light-background pt-5">
    {{ section_title("Programmes", subtitle="Nos programmes de <strong>formation</strong>") }}
    <div class="container about-content">
      {% for item in formations %}
        {% if loop.index0 % 2 == 0 %}        
          <div class="row gy-4 mb-3">
            <div class="col-lg-6 position-relative d-flex align-items-center order-lg-2 px-3" data-aos="fade-up" data-aos-delay="200">
              <img src="{{ item.image }}" class="img-fluid flex-shrink-0" alt="">
            </div>
            <div class="col-lg-6 order-lg-1 pt-1 px-3" data-aos="fade-up" data-aos-delay="100">
              {{ item.text | safe_md }}
            </div>
          </div>
        {% else %}  
          <div class="row gy-4 mb-3">
            <div class="col-lg-6 position-relative d-flex align-items-center order-lg-1 px-3" data-aos="fade-up" data-aos-delay="200">
              <img src="{{ item.image }}" class="img-fluid flex-shrink-0" alt="">
            </div>
            <div class="col-lg-6 order-lg-2 pt-1 px-3" data-aos="fade-up" data-aos-delay="100">
              {{ item.text | safe_md }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section><!-- End Type Formation Section -->

  <!-- Domaines technniques -->
  <section id="departments" class="section features features-imaged pt-5">
    {{ section_title("Domaines", subtitle="Nos <strong>Domaines de formation</strong>") }}

    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 gy-4">
      {% for item in departments %}  
        <div class="col">
          <div class="card features-item position-relative h-100">
            <img src="{{ item.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">{{ item.name }} ({{item.id }})</h4>
              <div class="card-text">{{ item.text | safe_md }}</div>
              <div class="d-flex justify-content-start">
                <a href="{{ url_for('courses.list', unit=item.id) }}" class="card-link">
                  Liste des formations en {{item.id }}
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!-- End feature Item -->
      {% endfor %}
      </div>
    </div>  
  </section><!-- End Domaines techniques -->

  <!-- Domaines de Recherche -->
  <section id="labs" class="section features features-numbered light-background mt-2 pt-4">
    {{ section_title("Recherche", subtitle="Nos <strong>Domaines de Recherche</strong>") }}
    <div class="container">
        <div class="row  row-cols-1 row-cols-md-3 no-gutters">
        {% for item in labs %}
            <div class="col card pt-2 pe-5 features-item">
                <div class="card-header">{{ item.id }}</div>
                <div class="card-body">
                    <h4 class="card-title mt-2">{{ item.name }}</h4>
                    <div class="card-text">{{ item.text | safe_md }}</div>
                    <div class="d-flex justify-content-start">
                      <a href="{{ url_for('courses.list', formation='M2R', unit=item.id) }}" class="card-link">
                        Liste des Masters du Laboratoire {{ item.id }} 
                        <i class="bi bi-arrow-right"></i>
                      </a>
                    </div>
                </div>
            </div><!-- End Card Item -->
        {% endfor %}
        </div>
    </div>  
  </section><!-- End Domaines de recherche -->
{% endblock %}